{% extends "base.html" %}

{% block content %}
    <form action="" method="post" novalidate>
        <div>
            {{ form.csrf_token }}
        </div>
	<h2>Adding a job</h2>
        <p>
        {{ form.job_title.label }}<br>
        {{ form.job_title(class="form-control") }}<br>
        {% for error in form.job_title.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    	</p>
    	<p>
        {{ form.work_size.label }}<br>
        {{ form.work_size(class="form-control") }}<br>
        {% for error in form.work_size.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    	</p>
	<p>
        {{ form.collaborators.label }}<br>
        {{ form.collaborators(class="form-control") }}<br>
        {% for error in form.collaborators.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    	</p>
    	<p>
        {{ form.is_finished() }} 
	{{ form.is_finished.label }}<br>
        {% for error in form.is_finished.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    	</p>
	<p>
        {{ form.submit() }}<br>
        {% for error in form.submit.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    	</p>
    </form>
{% endblock %}